.grid-example > div:nth-child(even),
.grid-example-2 > div:nth-child(odd) {
  background: #d3d6db;
}

.grid-example > div:nth-child(odd),
.grid-example-2 > div:nth-child(even) {
  background: #f7f7f7;
}

.grid-example,
.grid-example-2 {
  height: 200px;
}

.grid-example > div,
.grid-example-2 > div {
  text-align: center;
  border-bottom: 1px solid white;
}

.themed-container {
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  background-color: rgba(0, 123, 255, 0.15);
  border: 1px solid rgba(0, 123, 255, 0.2);
}

#screen-width-display {
  position: fixed;
  top: 12px;
  right: 12px;
}
